body {
    background: #bdcbe0;
}

table {
    /*
    position: absolute;
    top: 50px;
*/
    border-style: solid;
    border-width: thick;
    padding: 10px;
    text-align: center;
}

tbody td {
    border: black 1px solid;
}

thead {
    font-size: 20px;
}

table>tbody>tr>td:nth-of-type(2) {
    color: wheat;
    min-width: 50px;
}

.temp {
    font-size: 6px;
    color: #bdcbe0;
}

.title {
    font-size: 26px;
    background: black;
    color: white;
}

#svg1,
#svg2,
#svg3 {
    background: oldlace;
}
